doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Get to know about The School Of Optics. Discover our mission, values, and the dedicated team behind our tailored support and resources for optometry students.')
        meta(name='author', content='The School Of Optics')
        meta(name='robots', content='index, follow')

        title About Us | School Of Optics

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon-16x16.png')
        link(rel='manifest', href='assets/site.webmanifest')

        include includes/css.pug

    body.d-flex.flex-column.h-100.bg-light

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // About Section
            section.py-5
                .container.px-5.mb-5
                    .text-center.mb-5
                        h1.display-5.fw-bolder.mb-0
                            span.text-gradient.d-inline About Us
                    // Explanatory Text
                    .row.justify-content-center.mb-4
                        .col-lg-11.col-xl-9.col-xxl-8
                            p.lead.text-muted
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies, odio at faucibus convallis, quam nunc facilisis felis, vel cursus nisl erat sit amet turpis. Praesent dictum vitae orci at tincidunt. In auctor, lacus vitae ullamcorper accumsan, lectus mi tristique mi, a efficitur sapien nisi id magna.
                    
                    // Meet the Team Subheading
                    .text-center.mb-4
                        h2.fw-bolder.text-gradient.mb-0 Meet the Team

                    .row.gx-5.justify-content-center
                        .col-lg-11.col-xl-9.col-xxl-8

                            // Person Card 1
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .row.align-items-center
                                        .col-12.col-md-8.p-5
                                            h2.fw-bolder.text-secondary Mohammed Bilal Saleem
                                            h4.fw-bold.text-primary Co-Founder
                                            h5.text-muted MCOptom
                                            ul
                                                li Pre Reg of the Region Boots 2022
                                                li 2nd Early Career Rep College of Optoms
                                                li Currently undergoing Prof Cert Med Ret
                                                li Locum Optometrist
                                        .col-12.col-md-4.text-center.text-md-end
                                            img.img-fluid(src='https://dummyimage.com/300x400/343a40/6c757d', alt='...')

                            // Person Card 2
                            .card.overflow-hidden.shadow.rounded-4.border-0.mb-5
                                .card-body.p-0
                                    .row.align-items-center
                                        .col-12.col-md-8.p-5
                                            h2.fw-bolder.text-secondary Najaf Shah
                                            h4.fw-bold.text-primary Co-Founder
                                            h5.text-muted MCOptom
                                            ul
                                                li Pre Reg of the Region Boots 2022
                                                li 2nd Early Career Rep College of Optoms
                                                li Currently undergoing Prof Cert Med Ret
                                                li Locum Optometrist
                                        .col-12.col-md-4.text-center.text-md-end
                                            img.img-fluid(src='https://dummyimage.com/300x400/343a40/6c757d', alt='...')

        // Footer
        include includes/footer.pug

        include includes/scripts.pug
