doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Tailored support and resources for optometry students. Join our exclusive networks, book workshops, and access valuable resources.')
        meta(name='author', content='The School Of Optics')
        meta(name='robots', content='index, follow')

        title Home | School Of Optics

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon-16x16.png')
        link(rel='manifest', href='assets/site.webmanifest')

        // Include CSS
        include includes/css.pug

        // Owl Carousel CSS
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')

    body.d-flex.flex-column.h-100

        main.flex-shrink-0

            // Navigation
            include includes/navbar.pug

            // Header
            header.py-5
                .container.px-5.pb-5
                    .row.gx-5.align-items-center
                        .col-xxl-5
                            // Header text content
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4
                                    .text-uppercase Educate &middot; Develop &middot; Apply
                                .fs-3.fw-light.text-muted Supporting your journey to
                                h1.display-3.fw-bolder.mb-5
                                    span.text-gradient.d-inline Becoming a Qualified Optometrist
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-secondary.btn-lg.px-5.py-3.me-sm-3.fs-6.fw-bolder(href='osce.html') OSCEs
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href='contact.html') Contact Us
                        .col-xxl-7
                            // Header profile picture
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary(style='height: 580px;')
                                    img.profile-img(src='assets/home-img.png', alt='Person testing trial frame', style='position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%; object-fit: cover; border-radius: 5vw;')
                                    .dots-1
                                        include includes/svg-dots.pug
                                    .dots-2
                                        include includes/svg-dots.pug
                                    .dots-3
                                        include includes/svg-dots.pug
                                    .dots-4
                                        include includes/svg-dots.pug
            
            // Three Boxes Section
            section.bg-light.py-5(style='position: relative;')
                .overlay(style='position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-image: url("assets/3box-bg.jpg"); background-size: cover; background-position: center; opacity: 0.22;')
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8.text-center.my-5
                            h2.display-5.fw-bolder
                                span.text-gradient.d-inline Tailored Support for Your Success
                    .row.row-cols-1.row-cols-md-3.g-4.equal-height
                        .col
                            .card.text-center.shadow-sm.border-0.rounded-4
                                .card-body.bg-gradient-primary-to-secondary.text-white
                                    i.bi.bi-whatsapp.fs-1.mb-4
                                    h3.fw-bolder EXCLUSIVE Pre-Reg Network
                                    p Join our FREE WhatsApp group, and get tailored support EXCLUSIVELY for Pre-Reg Students
                                    a.btn.btn-outline-light.mt-3(href='#') Join Now
                        .col
                            .card.text-center.shadow-sm.border-0.rounded-4
                                .card-body.bg-gradient-primary-to-secondary.text-white
                                    i.bi.bi-calendar-event-fill.fs-1.mb-4
                                    h3.fw-bolder Upcoming Workshops
                                    p Join us on one of our interactive workshops to enhance your practical skills, gain hands-on experience, and receive expert guidance.
                                    a.btn.btn-outline-light.mt-3(href='osce.html') Upcoming Workshops
                        .col
                            .card.text-center.shadow-sm.border-0.rounded-4
                                .card-body.bg-gradient-primary-to-secondary.text-white
                                    i.bi.bi-chat-quote.fs-1.mb-4
                                    h3.fw-bolder Q&amp;A
                                    p Have questions about Pre-Reg, final year of university, or securing the best contract after qualifying? We're here to help!
                                    a.btn.btn-outline-light.mt-3(href='contact.html') Contact Us

            
            // Testimonial Slider Section
            section.py-5
                .container.px-5
                    .text-center.my-5
                        h2.display-5.fw-bolder
                            span.text-gradient.d-inline What Our Students Say
                        p.lead.fw-light.mb-4
                            | Hear directly from those who have experienced our services and what they have to say about us.
                    .row.justify-content-center
                        .col-md-8
                            #testimonial-slider.owl-carousel
                                .testimonial
                                    .pic
                                        img(src='assets/blank-user.png', alt='User')
                                    p.description
                                        | The School of Optics played a pivotal role in helping me pass my OSCE. Bilal dedicated a significant amount of time to reviewing case histories and communication skills with me. I highly recommend this organization to all pre-reg students.
                                    h3.title Haroon
                                        span.post - Student
                                .testimonial
                                    .pic
                                        img(src='assets/blank-user.png', alt='User')
                                    p.description
                                        | After failing my OSCE the first time, I attended the virtual OSCE sessions with the School of Optics. These sessions helped me understand where I went wrong. Najaf created a personalized revision plan for me and provided a template on how to approach and answer each question.
                                    h3.title Umar
                                        span.post - Student
                                .testimonial
                                    .pic
                                        img(src='assets/blank-user.png', alt='User')
                                    p.description
                                        | The School of Optics was instrumental in boosting my confidence and skills ahead of my OSCE. The mock exams were incredibly realistic, and the feedback I received was detailed and constructive. Both Bilal and Najaf were always approachable and provided valuable insights. Their guidance gave me the structure I needed to succeed. I would highly recommend them to anyone preparing for their exams.
                                    h3.title Sobiya
                                        span.post - Supervisor

            // About Section
            section.bg-light.py-5
                .container.px-5
                    .row.gx-5.justify-content-center
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder
                                    span.text-gradient.d-inline About Us
                                p.lead.fw-light.mb-4 Welcome to the School of Optics, founded in 2024 by Mohammed Bilal Saleem and Najaf Shah.
                                p.text-muted Our mission is to support students and newly qualified professionals in the field of optics, guiding them through their educational journey and helping them make informed career choices. Based in West Yorkshire, we currently offer mock OSCE exams and workshops, with plans to expand into specialized tutorials on slit-lamp exams, pre-registration competency workshops, and webinars tailored for newly qualified optometrists. Let us help you excel in your optical career!
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="mailto:schoolofopticsltd@gmail.com") 
                                        i.bi.bi-envelope
                                        span.visually-hidden Email Us
                                    a.text-gradient(href="https://www.instagram.com/school_of_optics?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==") 
                                        i.bi.bi-instagram
                                        span.visually-hidden Follow Us on Instagram
                                    a.text-gradient(href="#!") 
                                        i.bi.bi-whatsapp
                                        span.visually-hidden Chat with Us on WhatsApp

            

        // Footer
        include includes/footer.pug

        // Include Scripts
        include includes/scripts.pug

        // Owl Carousel JS
        script(src='https://code.jquery.com/jquery-1.12.0.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js')
        script.
            $(document).ready(function(){
                $("#testimonial-slider").owlCarousel({
                    items: 1,
                    itemsDesktop: [1000, 1],
                    itemsDesktopSmall: [979, 1],
                    itemsTablet: [768, 1],
                    pagination: false,
                    navigation: true,
                    navigationText: ["", ""],
                    autoPlay: true
                });
            });
