// Variables

// Override Bootstrap Colors
$green: #0fb693;
$blue: #280fb6;

// Redefine Bootstrap State Colors
$primary: $green;
$secondary: $blue;

// Bootstrap Variable Functions
$enable-negative-margins: true;

// Override Bootstrap Typography Variables
$font-family-sans-serif: 'Plus Jakarta Sans';
$font-weight-light: 200;

// Custom Border Variables
$border-radius-xl: 1rem;